#top {
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url(media/pictures/background.png);
    text-align: center;
}
#main {
    max-width: 800px;
    margin: auto;
    text-align: left;
}
button {
    border-radius: 5px;
    color: lightblue;
    background-color: lightblue;
}
button a {
    text-decoration: none;
    color: Black;
}
button:hover {
    background-color: rgb(101, 145, 160);
    color: white;
}
#hotbar {
    position: center;
    margin: 0px;
    padding: 0px;
}
nav {
    overflow: hidden;
    position: center;
    display: inline-block;
    font-size: 26px;
}
nav li {
    display: inline;
    float: left;
    margin: 0%;
    padding: 0%;
}
nav a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px;
    margin-top: 0px;
}
nav a:hover {
    background-color: #7f8c8d;
    color: black;
}
nav a.active {
    background-color:yellow;
    color: black;
}
#hbe1 {
    border-top: solid 3px orange;
}
#hbe2 {
    border-top: solid 3px red;
}
#hbe3 {
    border-top: solid 3px orange;
}
#hbe4 {
    border-top: solid 3px red;
}
#hbe5 {
    border-top: solid 3px orange;
}
#hbe6 {
    border-top: solid 3px red;
}
ol li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ol {
    margin: 0%;
    padding: 0%;
}
.elpic {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    background: url(media/pictures/electronics.png);
    margin: 0%;
    padding: 0%;
}
#prtpic {
    position: relative;
    left: 20%;
}
.name {
    position: center;
    background-color: none;
    color: white;
    display: block;
    font-size: 32px;
}
